.car-park {
  padding: 45px 0;
}

.car-park__name-block {
  margin: 0 0 60px;
}

.car-park__content {
  padding: 0 0 45px 0;
}
.car-park__tabs {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
}
.car-park__tab {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 13px 65px;
  border: 1px solid #ebebeb;
  transition: all 0.3s ease;
}
.car-park__tab:hover {
  border: 1px solid #fed100;
}
.car-park__tab:not(:last-child) {
  margin: 0 20px 0 0;
}
.car-park__tab_active {
  border: 1px solid #fed100;
}
.swiper-container-card {
  display: none;
}
.car__park__wrapper {
  display: flex;
  position: relative;
}
.car-park-item {
  display: grid;
  justify-content: center;
  grid-template-columns: 360px 640px;
}
.car-park-item__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.car-park-item__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 35px 0;
}
.car-park-item__features-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  margin: 0 0 28px 0;
}
.car-park-item__features-item:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/car-park/check.svg) no-repeat;
  margin: 0 15px 0 0;
}
.car-park-item__btn {
  background: #fed100;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 13px 80px;
  width: 250px;
  transition: all 0.3s ease-in-out;
}
.car-park-item__btn:hover {
  opacity: 0.7;
}
.car-park-item__image {
  max-width: 640px;
  /* width: 100%; */
  height: 450px;
}

.car-park-item__image img {
  max-width: 100%;
  height: auto;
}

.car-park-item_visible {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.car-park__item-prev,
.car-park__item-next {
  position: absolute;
  top: 50%;
  left: 0;
  width: 7px;
  height: 16px;
  background: url(../img/car-park/arrow.svg) no-repeat;
  cursor: pointer;
  z-index: 10;
}
.car-park__item-next {
  left: auto;
  right: 0;
  transform: rotate(-180deg);
}

.slider-pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 35% !important;
  z-index: 10;
  display: none;
}
.slider-pagination__bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}
.slider-pagination__bullet::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #333333;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.slider-pagination__bullet:not(:last-child) {
  margin-right: 10px;
}
.slider-pagination__bullet-active {
  width: 14px;
  height: 14px;
  border: 2px solid #fed100;
}

@media (max-width: 1024px) {
  .car-park-item {
    grid-template-columns: 260px 640px;
  }
  .car-park__item-prev,
  .car-park__item-next {
    display: none;
  }
}

@media (max-width: 800px) {
  .car-park-item {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .car-park-item__features-list {
    display: flex;
    justify-content: space-around;
  }
  .car-park-item__about {
    order: 1;
  }
  .car-park-item__title {
    margin: 0 auto 35px auto;
  }
  .car-park-item__image {
    margin: 0 auto;
    order: 0;
  }
  .car-park-item__btn {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .car-park__tab {
    font-size: 16px;
    padding: 10px 40px;
  }
  .car-park-item__features-list {
    flex-wrap: wrap;
  }
  .car-park-item__features-item {
    flex-basis: 48%;
  }
  .car-park-item__image {
    height: auto;
  }
}

@media (max-width: 480px) {
  .car-park__tabs {
    margin: 0 0 30px 0;
  }
  .car-park__tab {
    padding: 10px 30px;
    margin: 0;
  }
  .car-park-item {
    grid-template-rows: 1fr 1fr;
  }
  .car-park-item__about {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .car-park-item__features-item::before {
    display: none;
  }
  .car-park-item__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    flex-basis: auto;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  .car-park-item__features-item {
    flex-basis: 100%;
  }
  .car-park-item__features-item:not(:last-child) {
    display: none;
  }
  .car-park-item__title::after {
    content: "/";
    margin: 0 2px;
  }
  .car-park-item__btn {
    max-height: 60px;
  }
  .slider-pagination {
    display: flex;
  }
}

@media (max-width: 375px) {
  .car-park__name-block {
    margin: 0 0 20px;
  }
  .car-park__tab {
    padding: 10px 20px;
    line-height: 20px;
  }
  .car-park__tab:not(:last-child) {
    margin: 0;
  }
}
